@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <div class="row">
        <h1>Livro - ASP.NET MVC 5</h1>
        <p class="lead">Criando aplicações na web na plataforma Microsoft.</p>
        <div class="panel-group">
            <dl>
                <dt>
                    @Html.ActionLink("Categorias", "Index", "Categoria")
                </dt>
                <dt>
                    @Html.ActionLink("Fabricantes", "Index", "Fabricante")
                </dt>
            </dl>
        </div>
    </div>
</div>

>