@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ANALISTA DE SISTEMAS";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel-info">
            
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@ViewBag.Title.</h2>
            </div>

            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span>
                        O(a) <strong>Analista de Sistemas</strong> é o(a) profissional responsável por todo o gerenciamento da tecnologia de informação de uma empresa. Isso significa que ele tem como principal função analisar e estudar as melhores, mais eficientes e racionais formas de processar informações. Ele(a) desenvolve soluções para os problemas e necessidades da empresa, relacionados à conexão entre computadores, usuários, programas e equipamentos.
                        <br/>
                        Sua atuação inclui a criação, otimização ou implementação de serviços e produtos computacionais inovadores, para garantir o bom funcionamento e a manutenção de sistemas informacionais utilizados pelas empresas. Tudo isso, para otimizar o tempo gasto em tarefas, facilitar a utilização de recursos e informações, identificando e solucionando os requisitos da empresa e de clientes.
                    </span>
                </div>
            </div>

            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>
